<div class="card text-dark mb-4" data-id="{{_id}}">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src="{{image}}" class="card-img" alt="...">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title"><a href="{{link}}" class="text-dark" target="_target">{{ellipsis title 100}}</a></h5>
        <h5 class="card-title"><small>{{date timestamp 'MMM Do, h:mm a'}}</small></h5>
      </div>
    </div>
  </div>
</div>